/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f4f4f9; /* Fondo claro */
    color: #333; /* Color de texto oscuro para legibilidad */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
